naff==1.7.1
asyncpg==0.26.0
orjson==3.7.11
charset-normalizer==2.1.0
aiodns==3.0.0
Brotli==1.0.9
tortoise-orm==0.19.2
humanize==4.2.3
websockets==10.3
python-dotenv==0.20.0
orjson==3.7.11
rapidfuzz==2.4.2