discord-py-interactions[speedup]==5.10.0
tansy==0.8.0
asyncpg==0.28.0
tortoise-orm[accel]==0.20.0
aiodns==3.0.0
Brotli==1.1.0
humanize==4.8.0
python-dotenv==1.0.0
orjson==3.9.7
rapidfuzz==3.4.0
uvloop==0.17.0; platform_system == "Linux"